<div class="main">
  <span class="title">Our Pricing</span>
  <div class="time-plan">
    <span>Annually</span>
    <label class="switch">
      <input
        type="checkbox"
        [(ngModel)]="planType"
        (ngModelChange)="planTypeChange($event)"
      />
      <span class="slider round"></span>
    </label>
    <span>Monthly</span>
  </div>
  <div class="plan-list">
    <div
      [ngClass]="['card', plan.primary ? 'card-primary' : '']"
      *ngFor="let plan of planData"
    >
      <app-card
        [title]="plan.title"
        [price]="plan.price"
        [storage]="plan.storage"
        [user]="plan.user"
        [bandwidth]="plan.bandwidth"
        [primary]="plan.primary"
        [planType]="planType"
      />
    </div>
  </div>
</div>
