:root {
  --Linear-Gradient-1: hsl(236, 72%, 79%);
  --Linear-Gradient-2: hsl(237, 63%, 64%);
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}
body {
  background-color: var(--Very-Light-Grayish-Blue);
  margin: 0;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(/assets/fonts/Montserrat-Medium.ttf) format("truetype");
}
* {
  font-family: Montserrat, serif;
  font-size: 15px;
}
.main {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card {
  margin-left: -5px;
  margin-right: -5px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px -1px rgba(102, 81, 81, 0.92);
  -webkit-box-shadow: 0 2px 5px -1px rgba(102, 81, 81, 0.92);
  -moz-box-shadow: 0 2px 5px -1px rgba(102, 81, 81, 0.92);
}
.card-primary {
  background-image: linear-gradient(
    var(--Linear-Gradient-1),
    var(--Linear-Gradient-2)
  );
  z-index: 999;
  margin-top: -20px;
  margin-bottom: -20px;
}
.text-primary {
  color: white;
}
.title {
  font-size: 22px;
  font-weight: bold;
  color: var(--Grayish-Blue);
}
.time-plan {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.time-plan > span {
  font-weight: bold;
  color: var(--Light-Grayish-Blue);
  align-self: center;
  margin-left: 15px;
  margin-right: 15px;
}
.plan-list {
  display: flex;
  flex-direction: row;
}
.plan-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.plan-price {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
}
.plan-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.plan-detail > span {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 1px var(--Light-Grayish-Blue);
  border-bottom: solid 1px var(--Light-Grayish-Blue);
  margin-bottom: -1px;
}
.learn-more-button {
  color: var(--Linear-Gradient-2);
  background-color: white;
  outline: none;
  border: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.learn-more-button:hover {
  color: white;
  background-color: var(--Linear-Gradient-2);
  outline: solid 1px white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  background-image: linear-gradient(
    to right,
    var(--Linear-Gradient-1),
    var(--Linear-Gradient-2)
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right,
    var(--Linear-Gradient-1),
    var(--Linear-Gradient-2)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .main {
    height: 110%;
  }
  .title {
    margin-top: 50px;
  }
  .plan-list {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
  }
  .card {
    margin-left: 0;
    margin-right: 0;
    z-index: 0;
  }
  .card-primary {
    margin-top: 0;
    margin-bottom: 0;
  }
}
